.footer {
  height: 150px;
  width: 100%;
  background: rgba(21, 47, 46, 1);

  .footer-inner {
    max-width: 80%;
    width: 100%;
    height: 100%;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    .footer-logo {
      img {
        width: 100px;
      }
    }

    .footer-text {
      text-align: center;
      padding: 20px 0;
      p {
        font-size: 12px;
        color: rgb(162, 172, 172);
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .footer {
    .footer-inner {
      max-width: 90%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .footer {
    .footer-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
